.main {
    height: calc(100vh - 62px - 36px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 100px
}

.main-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.main input {
    width: 500px;
    height: 50px;
    color: whitesmoke;
    background-color: black;
    border: solid 1px gray;
    padding: 20px;
}

.main h1 {
    color: white;
}