.modal {
    height: calc(100vh - 62px - 36px);
    width: 100vw;
    position: absolute;
    top: 62px;
    color: white;
    overflow-y: scroll;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.85);
}

.modal h1 {
    margin: 30px;
    margin-left: auto;
    margin-right: 100px;
}

.modal h2 {
    margin-bottom: 30px;
}

.modal img {
    width: 80vw;
    margin-bottom: 30px;
}

.modal p {
    font-size: 24px;
    max-width: 80vw;
    text-align: justify;
}

.modal p:first-of-type {
    margin-bottom: 30px;
}